#main{
    margin: 10px;
    padding: 30px;
    height: 750px;
    border-radius: 20px;
    background-color: rgb(240, 59, 104);
}
#nav_message{
    background-color: grey;
    border-radius: 20px;
}
span{
    color: white;
}
#main_hr{
    width: 1100px;
    border: 3px solid white;
}
#left{
    margin-top: 10px;
    margin-left: 5px;
    padding: 10px;
    width: 190px;
    background-color: white;
    border-radius: 20px;
    float: left;
}
#right{
    margin-top: 10px;
    width: 520px;
    background-color: white;
    border-radius: 20px;
    margin-left: 30px;
    padding: 20px;
    float: left;
}
#mini_hr{
    width: 100px;
    border: 3px solid black;
}
#major_hr{
    width: 400px;
    border: 3px solid black;
}
#next,#previous{
    width: 100px;
    padding: 5px;
    border-radius: 20px;
    background-color: grey;
    border: 2px solid black;
    color: black;
}
#my_image{
    height: 250px;
    border-radius: 18px 20px;
    width: 300px;
}
#last_right{
    width: 420px;
    border-radius: 20px;
    padding: 5px;
    float: left;
    background-color: white;
    margin-left: 15px;
    margin-top: 10px;
}
#previous:hover,#next:hover{
    background-color: blue;
}
#my_image:hover{
   transform: rotate(5deg);
}
option{
    color: white;
}
select{
    padding: 5px;
    border-radius: 20px;
    width: 120px;
    border: 3px solid black;
    margin-bottom: 20px;
    background-color: grey;
}
#car_number{
    width: 300px;
    height: 40px;
    border-radius: 20px;
    background-color: grey;

}
